/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

 .cdk-overlay-container {
    z-index: 9000 !important;
} 

.dialog-content button {
    display: block;
    width: 90%;
    margin: 1em;
}

.location-id {
    font-size: x-large;
    margin-top: 1em;
    font-weight: 400;
}

.location-state {
    font-size: larger;
    margin-top:-0.3em;
    margin-bottom:1em;
    font-weight: 100;
}

.mat-dialog-title {
    margin: .5em 0 0 !important;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300 !important;
}